<!-- Add personalization button -->
<div class="product-form">
  <button class="button product-form__buttons button--full-width" name="add" id="personalizationBtn">Add Personalization +£19</button>
</div>
<div id="personalizationData"></div>

<!-- Pop-up container -->
<div id="personalizationPopup">
  <div class="popupContent">
    <span id="closeIcon">&times;</span>
    <div class="leftSide">
      <div class="h2">PERSONALIZE YOUR ITEM</div>
      <p class="text-popup">Ettinger takes great care to block initials by hand, with the right balance and the emboss remains very crisp and delicate.
        <br><br>This is done by a specialist craftsperson in our factory and so can take up to 1 week for delivery.
        <br><br>Should you require any other assistance, please call us on <a style="color: var(--gradient-base-accent-2);" href="tel:+442088771616">+44 20 8877 1616</a> or <a style="color: var(--gradient-base-accent-2);" href="mailto:clientservices@ettinger.co.uk">email us</a>.
      </p>
      <div class="container">
        <div class="variants">
          <p class="text-colour">Colour</p>
          <div class="colorSquare gold" data-color="#BB9A56" data-colour="GOLD FOILED">123</div>
          <div class="colorSquare grey" data-color="#C5C5C5" data-colour="GREY">123</div>
          <div class="colorSquare white" data-color="#FFFFFF" data-colour="WHITE">123</div>
        </div>
        <div class="input">
          <h4>ADD YOUR INITIALS</h4>
          <input type="text" id="personalizationInput" maxlength="5" placeholder="WRITE HERE...">
          <p class="text-popup">(UP TO 5 CHARACTER)</p>
        </div>
      </div>
      <button class="button product-form__buttons button--full-width" name="add" id="addToCartBtn"><b>Save</b>&nbsp;+£19</button>
    </div>
    <div class="rightSide">
      <img id="productImage" src="{{ product.image | image_url }}" alt="Product Image">
      <div id="personalizationText"></div>
    </div>
  </div>
</div>

<style>
/* Pop-up container styles */
#personalizationPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popupContent {
  position: relative;
  display: flex;
  width: 75%;
  height: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-height: 700px) {
  .popupContent {
    height: 500px;
  }

  .leftSide {
    padding: 10px!important;
  }
}

#closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.container {
  display: flex;
}

.variants {
  width: 50%;
}

.text-popup {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Gotham Medium', sans-serif;
  color: #777777;
  line-height: 24px;
  letter-spacing: 0.04rem;
}

.text-colour {
  font-size: 13px;
  font-family: 'Gotham Medium', sans-serif;
  line-height: 16px;
  letter-spacing: 0.03rem;
  color: #121212;
}

.colorSquare {
  color: transparent!important;
  box-shadow: 2px 2px 4px 0px #00000040 inset;
  border-radius: 3px;
}

.leftSide {
  width: 50%;
  padding: 30px;
}

.rightSide {
  width: 50%;
  padding: 30px;
  position: relative;
}

#productImage {
  width: 100%;
  height: 100%;
}

#personalizationText {
  position: absolute;
  bottom: 20%;
  right: 30%;
  font-size: 20px;
  color: #fff;
  padding: 10px;
}

#personalizationInput {
  border: 0;
  border-bottom: 1px solid black;
}

.button {
  max-width: 300px;
}

.variants {
  margin-bottom: 20px;
}

.colorSquare {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.colorSquare.gold {
  background-color: #BB9A56;
}

.colorSquare.grey {
  background-color: #C5C5C5;
}

.colorSquare.white {
  background-color: #FFFFFF;
}

#addToCartBtn {
  margin: 10px auto;
}

@media screen and (max-width: 1000px) {
  .popupContent {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    top: 250px;
  }

  .leftSide, .rightSide {
    width: 100%;
  }

  #personalizationPopup {
    overflow: auto;
  }

  #personalizationInput {
    max-width: 100px;
  }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var colorSquares = document.querySelectorAll('.colorSquare');
  var personalizationInput = document.getElementById('personalizationInput');
  var personalizationText = document.getElementById('personalizationText');
  var addToCartBtn = document.getElementById('addToCartBtn');
  var personalizationData = document.getElementById('personalizationData');

  document.getElementById('personalizationBtn').addEventListener('click', function() {
    document.getElementById('personalizationPopup').style.display = 'flex';
    var firstProductImage = document.querySelector('.product__media img');
    var productImage = document.getElementById('productImage');
    productImage.src = firstProductImage.src;
    personalizationBtn.textContent = 'Edit Personalization';
  });

  document.getElementById('closeIcon').addEventListener('click', function() {
    document.getElementById('personalizationPopup').style.display = 'none';
  });

  colorSquares.forEach(function(square) {
    square.addEventListener('click', function() {
      var color = this.getAttribute('data-color');
      personalizationText.style.color = color;
      square.classList.add('selected');
      colorSquares.forEach(function(otherSquare) {
        if (otherSquare !== square) {
          otherSquare.classList.remove('selected');
        }
      });
    });
  });

  document.getElementById('personalizationInput').addEventListener('input', function(e) {
    personalizationText.textContent = e.target.value;
  });

  addToCartBtn.addEventListener('click', function() {
    var productTitle = '{{ product.title }}';
    var personalization = personalizationInput.value;
    var selectedColor = document.querySelector('.colorSquare.selected').getAttribute('data-colour');

    var personalizationDataString =
      productTitle + ' personalization<br>' +
      "Price: £19<br>" +
      "Embroidery: " + personalization + "<br>" +
      "Colour: " + selectedColor;

    personalizationData.innerHTML = personalizationDataString;

    document.getElementById('personalizationPopup').style.display = 'none';

    addPersonalizationToCart();
  });

  function addPersonalizationToCart() {
    var personalizationDataJSON = personalizationData.textContent;
    if (!personalizationDataJSON) return; 

    var personalizationDataObj = JSON.parse(personalizationDataJSON);
    console.log('Personalization product added to cart:', personalizationDataObj);
  }

});
</script>
