.list-social {
  display: flex;
  flex-wrap: wrap;
  margin-left: 75%;
}

@media screen and (max-width: 1440px) {
  .list-social {
    margin-left: 74%;
  }
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
    margin-left: 0;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.3rem;
  color: black;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
