.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

@media screen and (max-width: 749px) {
  .page-width--narrow {
    max-width: 90%;
    margin: 0 auto;
  }
}

.main-page-content > p >* {
  font-size: 14px;
}